@charset "utf-8"; @import "compass"; 

$yellow: #FFF200;
$gray:   #ababab;
$black:  #000000;
$white:  #ffffff;
$dgray:  #1f1f1f;
$caption : "pt-sans-caption",sans-serif;


.bg-dgray {
  background: $dgray;
}

body {
  font-family: $caption;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: $dgray;
  // border-top: 4px solid $yellow;
}

.main-wrap {
  overflow-x: hidden;
}
.ulfix {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
  }
}
.footer {
  // display: inline-block;
  width: 100%;
  border-top: 4px solid $yellow;
  // margin-bottom: 100px;
}
*{
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}


// Core variables and mixins
@import "base/bootstrap/variables";
@import "base/bootstrap/mixins";

// Reset
@import "base/bootstrap/normalize";
// @import "base/bootstrap/print";

// Core CSS
// @import "base/bootstrap/scaffolding";
// @import "base/bootstrap/type";
// @import "base/bootstrap/code";
@import "base/bootstrap/grid";
// @import "base/bootstrap/tables";
// @import "base/bootstrap/forms";
// @import "base/bootstrap/buttons";

// Components
// @import "base/bootstrap/component-animations";
// @import "base/bootstrap/glyphicons";
// @import "base/bootstrap/dropdowns";
// @import "base/bootstrap/button-groups";
// @import "base/bootstrap/input-groups";
// @import "base/bootstrap/navs";
// @import "base/bootstrap/navbar";
// @import "base/bootstrap/breadcrumbs";
// @import "base/bootstrap/pagination";
// @import "base/bootstrap/pager";
// @import "base/bootstrap/labels";
// @import "base/bootstrap/badges";
// @import "base/bootstrap/jumbotron";
// @import "base/bootstrap/thumbnails";
// @import "base/bootstrap/alerts";
// @import "base/bootstrap/progress-bars";
// @import "base/bootstrap/media";
// @import "base/bootstrap/list-group";
// @import "base/bootstrap/panels";
// @import "base/bootstrap/wells";
// @import "base/bootstrap/close";

// Components w/ JavaScript
// @import "base/bootstrap/modals";
// @import "base/bootstrap/tooltip";
// @import "base/bootstrap/popovers";
// @import "base/bootstrap/carousel";

// Utility classes
@import "base/bootstrap/utilities";
@import "base/bootstrap/responsive-utilities";
