.vacan {
  .imagetext {
   
    margin-top: 20px !important;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .vacan {
    .imagetext {
       padding-left: 20px !important;
        padding-right: 20px !important;
      margin-top: 20px !important;
    }
  }
}