$yellow: #FFF200;
$gray:   #ababab;
$black:  #000000;
$white:  #ffffff;
$dgray:  #1f1f1f;

.tile {
  width: 100%;
  height: 100%;
  // min-width: 500px;
  .square-b {
    width: 100%;
    content: "";
    height: 100%;
    display: block;
    float: left;
    box-sizing: border-box;
    &.insta {
      width: 100%;
      .square-s:first-of-type{
        width: 100%;
      }
      img {
        transition: all 0.2s;
      }
    }
    .square-s {
      width: 50%;
      text-decoration: none;
      border: none;
      outline: none;
      height: 50%;
      // background: red;
      float: left;
      position: relative;
      overflow: hidden;
      transform: translateZ(0);
      img {
        width: 100%;
        display: block;
        text-decoration: none;
        border: none;
        outline: none;
        transition: all .2s ease-in-out;
      }
      &:hover {
        &.w-capt img {
          transform: scale(1.05);
        }
        .capt-w{
          background: rgba(0,0,0,0.2); 
        }
        .capt {
          color: rgba(255,255,255,0.6);
        }
      }
    }

    .square-downl {
      width: 50%;
      text-decoration: none;
      border: none;
      outline: none;
      height: 50%;
      // background: red;
      float: left;
      position: relative;
      overflow: hidden;
      transform: translateZ(0);
      img {
        width: 100%;
        display: block;
        text-decoration: none;
        border: none;
        outline: none;
        opacity: 0;
      }
      .capt {
        color: white;
        font-size: 15px;
        line-height: 1.7;
        text-align: left;
        padding: 20%;
        padding-left: 23%;
        font-weight: 500;
      }
      .capt-w {
        background: none;
      }
      &:hover {
        .capt {
          display: none;
        }
        background: url("../images/pdf.svg") center center no-repeat, #D83231;
        background-size: 20%;
      }

    }
    .capt-w {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      transition: background 0.2s ease-in;
    }
    .capt {
      display: block;
      text-align: center;
      position: absolute;
      color: white;
      top: 50%;
      left: 0;
      right: 0;
      font-size: 18px;
      font-weight: bold;
      // bottom: 0;
      transform: translateY(-50%);
      transition: color 0.2s ease-in;
    }
  }
  .rectangle {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    float: left;
    background: $yellow;
    position: relative;
    text-decoration: none;
    border: none;
    outline: none;
    img {
      width: 100%;
      display: block;
      // position: absolute;
      opacity: 0;
      text-decoration: none;
      border: none;
      outline: none;
    }
    &.w-text {
      position: relative;
      .text {
        box-sizing: border-box;
        padding: 38px 40px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        // bottom: 0;
        font-size: 16px; 
        // font-size: 4vw;
        color: black;
        line-height: 1.6;
        transform: translateY(-50%);
        a {
          color: black;
          display: inline-block;
          border-bottom: 1px solid black;
          text-decoration: none;
          line-height: 1.1;
          margin-top: 5%;
          &:hover {
            background: $black;
            color: $yellow;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
}
.vis-h {
  visibility: hidden;
}
.tile.cont {
  .text a {
    margin-top: 0;
  }
  .social {
    img {
      opacity: 0;
    }
    .facebook {
      background: url("../images/fb.svg") center center no-repeat, #3A5898;
    }
    .behance {
      background: url("../images/beh.svg") center center no-repeat, #005BF8;
    }
    .twi {
      background: url("../images/twi.svg") center center no-repeat, #00ABEE;
    }
    .tumblr {
      background: url("../images/tumbl.svg") center center no-repeat, #314F6D;
    }
    .square-s {
      &:hover {
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      }
      // transition: transform 0.3s;
      overflow: hidden;
    }
  }
}
@keyframes spin {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}

.map-w {
  width: 100%;
  position: relative;
  & > img {
    width: 100%;
    opacity: 0;
    display: block;
  }
  #map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: $screen-phone) {
  .tile {

    .square-b {

      .square-s {
        
        img {

        }
      }
      .capt-w {

      }
      .capt {
        font-size: 20px;
      }
    }
    .rectangle {

      img {

      }
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .tile {

    .square-b {
      width: 50%;
      display: inline-block;
      &.insta {
        .square-s:first-of-type{
          width: 50%;
        }
      }

      .square-s {
        
        img {

        }
      }
      .capt-w {

      }
      .capt {
        font-size: 22px;
      }
    }
    .rectangle {

      img {

      }
      &.w-text {
        .text {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-desktop) {
  .tile {

    .square-b {

      .square-s {
        
        img {

        }
      }
      .capt-w {

      }
      .capt {
        font-size: 24px;
      }
    }
    .rectangle {

      img {

      }
      &.w-text {
        .text {
          font-size: 30px;
          padding: 60px 80px;
        }
      }
    }
  }
}