// video#bgvid {
//   position: absolute; right: 0; bottom: 0;
//   min-height: 100%;
//   width: auto; height: auto; z-index: -100;
//   background: url(polina.jpg) no-repeat;
//   background-size: cover;
// }
// video { display: block; }
body,html {
  // height: 100%;
  width: 100%;
  // padding: 0;
  // margin: 0;

}
.fullscreen {
  
}
.videofix {
  // margin-top: 100%;
}
.main-wrap {
  // position: absolute;
  // width: r100%;
  height: 100%;
}

.first {
  video {
    display: none;
  }
}
.h-100 {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
    padding: 0 0 95px; /* bottom = footer height */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;

    width: 100%;
}

@media screen and (min-width: $screen-tablet) {
  .footer{
    height: 100px;
  }

  body {
    padding: 0 0 145px; /* bottom = footer height */
}

}


@media screen and (min-width: $screen-desktop) {
  .first {
    min-height: calc(100% - 70px);
    position: relative;
    background: black;
    overflow: hidden;


    // background: rgba(255,0,0,0.2);
    video {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      display: block;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      // position: relative;
      // z-index: -3;
      // opacity: 0.3;
    }
  }
  .menubar.static {
    position: static;
    border-top: 0;
  }
}