$yellow: #FFF200;
$gray:   #ababab;
$black:  #000000;
$white:  #ffffff;
$dgray:  #1f1f1f;

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
.imagetext {
  text-decoration: none;
  img {
    display: block;
    width: 100%;
  }
  b{
    color: $white;
    margin-top: 15px;
    display: block;
    font-weight: 600;
    font-size: 15px;
  }
  span {
    color: $gray;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 0;
  }
  &.proj {
    img {
      position: relative;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        height: 10px;
        background: red;
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .imagetext {
    img {
      display: block;
      width: 100%;
    }
    b{
      margin-top: 20px;
      font-size: 24px;
    }
    span {
      font-size: 14px;
    }
  }
}
.menubar{
  width: 100%;
  height: 45px;
  background: $black;
  display: block;
  z-index: 1;
  position: fixed;
  .container {
    position: relative;
  }
  .top-c {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    transition: none;
    a {
      // position: relative;
      z-index: 9999;
    }
  }
  .mobile {
    // transition: all 0.3s ease-in;
    // position: absolute;
    .logo {
      margin-top: 14.5px;
      display: inline-block;
      // position: absolute;
      // left: 0;
      img {
        width: 16px;
        display: block;
      }
    }
    .toggle {
      // position: absolute;
      // right: 0;
      float: right;
      margin-right: 17.5px;
      margin-top: 14.5px;
      img {
        width: 35/2*1px;
        display: inline-block;
        position: absolute;
        // right: 30px;
      }
    }
  }
}
.menu-pad {
  margin-top: 45px;
}


.nav-container {
  
  padding-top: 45+60px;
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  overflow: hidden;
  // left: 0;
  z-index: 9998;
  right: -100%;
  bottom: 0;
  transition: right 0.3s cubic-bezier(0.620, 1.505, 0.350, 0.840);
  width: 100%;
  height: 100%;
  padding: 0 15px;
  // box-sizing: border-box;
  transform: translateZ(0);
  li:first-of-type {
    border-top: 1px solid rgba($gray,0.2);
  }
  background: $dgray;
  ul { margin-top: 60px;}
  li {
    width: 100%;
    display: block;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    border-bottom: 1px solid rgba($yellow,0.7);
    // border-top: 1px solid rgba($gray,0.7);
    position: relative;
    transition: right 0.3s ease-in-out, border-color 0.4s ease-out 0.1s;
    right: -110%;
    transform: translateZ(0);
    top:-1px;
    &.animation{
      right: 0%;
      border-color: rgba($gray,0.2);
    }
    &:hover {
      border-bottom-color: rgba($yellow,0.3);
    }
    
    a {
      width: 100%;
      height: 100%;
      color: inherit;
      text-decoration: none;
      padding: 10px 0;
      display: inline-block;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 1px;
      &:hover {
        color: $yellow;
      }
    }
  }
} 
.menubar.active {
  background: transparent;
  // transition: background 0s ease-out 0.3s;
  z-index: 9999;
}
.menubar.active + .nav-container {
  right: 0%;
  z-index: 9998;

}
.relative {
  position: relative;
}

.tcenter {
  text-align: center;
}
.tright {
  text-align: right;
}


@media screen and (min-width: $screen-desktop) {
  .menubar {
    height: 70px;
  }
  .menu-pad {
    margin-top: 70px;
  }
  .menubar {
    border-top: 4px solid $yellow;
    .desktop {
      box-sizing: border-box;
      padding:17px 0px;
      min-height: 36px;
      .logo {
        img {
          width: 32px;display: block;
        }
        display: inline-block;
      }
      .menu {
        color: white;
        // position: absolute;
        margin-top: 5px;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        li {
          display: inline-block;
          a {
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            &:hover{
              opacity: 1 !important;
              color: $yellow;
            }
          }
          &:hover{
            opacity: 1 !important;
          }
          &:not(:first-of-type) {
            margin-left: 30px;
          }
        }
      }
    }
    .menu.lang {
      li:not(.active) {
        opacity: 0.5;
      }
      li:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }
}
.tabs {
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden;
  .mix {
    display: none;
    box-sizing: border-box;
    display: none;
    padding: 13px 20px;
    text-decoration: none;
  }
  a:hover {
    img {
      opacity: 0.8;
    }
    b,span {
      opacity: 0.6;
    }
  }
}

@media screen and (min-width: $screen-phone) {
  .tabs {
    margin-left: -20px;
    margin-right: -20px;
    .mix {  
      width: 100/2*1%;
      padding: 20px;
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .tabs {
    margin-left: -20px;
    margin-right: -20px;
    .mix {
      box-sizing: border-box;
      display: none;
      width: 100/3*1%;
      padding: 20px;
    }
  }
}
$yellow: #FFF200;
$gray:   #ababab;
$black:  #000000;
$white:  #ffffff;
$dgray:  #1f1f1f;

.tile {
  width: 100%;
  height: 100%;
  // min-width: 500px;
  .square-b {
    width: 100%;
    content: "";
    height: 100%;
    display: block;
    float: left;
    box-sizing: border-box;
    &.insta {
      width: 100%;
      .square-s:first-of-type{
        width: 100%;
      }
      img {
        transition: all 0.2s;
      }
    }
    .square-s {
      width: 50%;
      text-decoration: none;
      border: none;
      outline: none;
      height: 50%;
      // background: red;
      float: left;
      position: relative;
      overflow: hidden;
      transform: translateZ(0);
      img {
        width: 100%;
        display: block;
        text-decoration: none;
        border: none;
        outline: none;
        transition: all .2s ease-in-out;
      }
      &:hover {
        &.w-capt img {
          transform: scale(1.05);
        }
        .capt-w{
          background: rgba(0,0,0,0.2); 
        }
        .capt {
          color: rgba(255,255,255,0.6);
        }
      }
    }

    .square-downl {
      width: 50%;
      text-decoration: none;
      border: none;
      outline: none;
      height: 50%;
      // background: red;
      float: left;
      position: relative;
      overflow: hidden;
      transform: translateZ(0);
      img {
        width: 100%;
        display: block;
        text-decoration: none;
        border: none;
        outline: none;
        opacity: 0;
      }
      .capt {
        color: white;
        font-size: 15px;
        line-height: 1.7;
        text-align: left;
        padding: 20%;
        padding-left: 23%;
        font-weight: 500;
      }
      .capt-w {
        background: none;
      }
      &:hover {
        .capt {
          display: none;
        }
        background: url("../images/pdf.svg") center center no-repeat, #D83231;
        background-size: 20%;
      }

    }
    .capt-w {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      transition: background 0.2s ease-in;
    }
    .capt {
      display: block;
      text-align: center;
      position: absolute;
      color: white;
      top: 50%;
      left: 0;
      right: 0;
      font-size: 18px;
      font-weight: bold;
      // bottom: 0;
      transform: translateY(-50%);
      transition: color 0.2s ease-in;
    }
  }
  .rectangle {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    float: left;
    background: $yellow;
    position: relative;
    text-decoration: none;
    border: none;
    outline: none;
    img {
      width: 100%;
      display: block;
      // position: absolute;
      opacity: 0;
      text-decoration: none;
      border: none;
      outline: none;
    }
    &.w-text {
      position: relative;
      .text {
        box-sizing: border-box;
        padding: 38px 40px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        // bottom: 0;
        font-size: 16px; 
        // font-size: 4vw;
        color: black;
        line-height: 1.6;
        transform: translateY(-50%);
        a {
          color: black;
          display: inline-block;
          border-bottom: 1px solid black;
          text-decoration: none;
          line-height: 1.1;
          margin-top: 5%;
          &:hover {
            background: $black;
            color: $yellow;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
}
.vis-h {
  visibility: hidden;
}
.tile.cont {
  .text a {
    margin-top: 0;
  }
  .social {
    img {
      opacity: 0;
    }
    .facebook {
      background: url("../images/fb.svg") center center no-repeat, #3A5898;
    }
    .behance {
      background: url("../images/beh.svg") center center no-repeat, #005BF8;
    }
    .twi {
      background: url("../images/twi.svg") center center no-repeat, #00ABEE;
    }
    .tumblr {
      background: url("../images/tumbl.svg") center center no-repeat, #314F6D;
    }
    .square-s {
      &:hover {
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      }
      // transition: transform 0.3s;
      overflow: hidden;
    }
  }
}
@keyframes spin {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}

.map-w {
  width: 100%;
  position: relative;
  & > img {
    width: 100%;
    opacity: 0;
    display: block;
  }
  #map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: $screen-phone) {
  .tile {

    .square-b {

      .square-s {
        
        img {

        }
      }
      .capt-w {

      }
      .capt {
        font-size: 20px;
      }
    }
    .rectangle {

      img {

      }
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .tile {

    .square-b {
      width: 50%;
      display: inline-block;
      &.insta {
        .square-s:first-of-type{
          width: 50%;
        }
      }

      .square-s {
        
        img {

        }
      }
      .capt-w {

      }
      .capt {
        font-size: 22px;
      }
    }
    .rectangle {

      img {

      }
      &.w-text {
        .text {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-desktop) {
  .tile {

    .square-b {

      .square-s {
        
        img {

        }
      }
      .capt-w {

      }
      .capt {
        font-size: 24px;
      }
    }
    .rectangle {

      img {

      }
      &.w-text {
        .text {
          font-size: 30px;
          padding: 60px 80px;
        }
      }
    }
  }
}