.tabs {
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden;
  .mix {
    display: none;
    box-sizing: border-box;
    display: none;
    padding: 13px 20px;
    text-decoration: none;
  }
  a:hover {
    img {
      opacity: 0.8;
    }
    b,span {
      opacity: 0.6;
    }
  }
}

@media screen and (min-width: $screen-phone) {
  .tabs {
    margin-left: -20px;
    margin-right: -20px;
    .mix {  
      width: 100/2*1%;
      padding: 20px;
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .tabs {
    margin-left: -20px;
    margin-right: -20px;
    .mix {
      box-sizing: border-box;
      display: none;
      width: 100/3*1%;
      padding: 20px;
    }
  }
}