@charset "UTF-8";
.imagetext { text-decoration: none; }
.imagetext img { display: block; width: 100%; }
.imagetext b { color: white; margin-top: 15px; display: block; font-weight: 600; font-size: 15px; }
.imagetext span { color: #ababab; font-size: 12px; margin-top: 7px; margin-bottom: 0; }
.imagetext.proj img { position: relative; }
.imagetext.proj img:after { position: absolute; bottom: 0; left: 0; right: 0; content: ""; height: 10px; background: red; display: inline-block; }

@media screen and (min-width: 768px) { .imagetext img { display: block; width: 100%; }
  .imagetext b { margin-top: 20px; font-size: 24px; }
  .imagetext span { font-size: 14px; } }
.menubar { width: 100%; height: 45px; background: black; display: block; z-index: 1; position: fixed; }
.menubar .container { position: relative; }
.menubar .top-c { width: 100%; position: relative; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: none; transition: none; }
.menubar .top-c a { z-index: 9999; }
.menubar .mobile .logo { margin-top: 14.5px; display: inline-block; }
.menubar .mobile .logo img { width: 16px; display: block; }
.menubar .mobile .toggle { float: right; margin-right: 17.5px; margin-top: 14.5px; }
.menubar .mobile .toggle img { width: 17.5px; display: inline-block; position: absolute; }

.menu-pad { margin-top: 45px; }

.nav-container { padding-top: 105px; -moz-box-sizing: border-box; box-sizing: border-box; display: block; position: fixed; top: 0; overflow: hidden; z-index: 9998; right: -100%; bottom: 0; -webkit-transition: right 0.3s cubic-bezier(0.62, 1.505, 0.35, 0.84); transition: right 0.3s cubic-bezier(0.62, 1.505, 0.35, 0.84); width: 100%; height: 100%; padding: 0 15px; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); background: #1f1f1f; }
.nav-container li:first-of-type { border-top: 1px solid rgba(171, 171, 171, 0.2); }
.nav-container ul { margin-top: 60px; }
.nav-container li { width: 100%; display: block; text-align: center; color: white; text-transform: uppercase; border-bottom: 1px solid rgba(255, 242, 0, 0.7); position: relative; -webkit-transition: right 0.3s ease-in-out, border-color 0.4s ease-out 0.1s; transition: right 0.3s ease-in-out, border-color 0.4s ease-out 0.1s; right: -110%; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); top: -1px; }
.nav-container li.animation { right: 0%; border-color: rgba(171, 171, 171, 0.2); }
.nav-container li:hover { border-bottom-color: rgba(255, 242, 0, 0.3); }
.nav-container li a { width: 100%; height: 100%; color: inherit; text-decoration: none; padding: 10px 0; display: inline-block; font-weight: bold; font-size: 13px; letter-spacing: 1px; }
.nav-container li a:hover { color: #fff200; }

.menubar.active { background: transparent; z-index: 9999; }

.menubar.active + .nav-container { right: 0%; z-index: 9998; }

.relative { position: relative; }

.tcenter { text-align: center; }

.tright { text-align: right; }

@media screen and (min-width: 992px) { .menubar { height: 70px; }
  .menu-pad { margin-top: 70px; }
  .menubar { border-top: 4px solid #fff200; }
  .menubar .desktop { -moz-box-sizing: border-box; box-sizing: border-box; padding: 17px 0px; min-height: 36px; }
  .menubar .desktop .logo { display: inline-block; }
  .menubar .desktop .logo img { width: 32px; display: block; }
  .menubar .desktop .menu { color: white; margin-top: 5px; }
  .menubar .desktop .menu li { display: inline-block; }
  .menubar .desktop .menu li a { color: inherit; text-decoration: none; text-transform: uppercase; font-weight: bold; font-size: 14px; }
  .menubar .desktop .menu li a:hover { opacity: 1 !important; color: #fff200; }
  .menubar .desktop .menu li:hover { opacity: 1 !important; }
  .menubar .desktop .menu li:not(:first-of-type) { margin-left: 30px; }
  .menubar .menu.lang li:not(.active) { opacity: 0.5; }
  .menubar .menu.lang li:not(:first-of-type) { margin-left: 10px; } }
.tabs { margin-left: -20px; margin-right: -20px; overflow: hidden; }
.tabs .mix { display: none; -moz-box-sizing: border-box; box-sizing: border-box; display: none; padding: 13px 20px; text-decoration: none; }
.tabs a:hover img { opacity: 0.8; }
.tabs a:hover b, .tabs a:hover span { opacity: 0.6; }

@media screen and (min-width: 480px) { .tabs { margin-left: -20px; margin-right: -20px; }
  .tabs .mix { width: 50%; padding: 20px; } }
@media screen and (min-width: 768px) { .tabs { margin-left: -20px; margin-right: -20px; }
  .tabs .mix { -moz-box-sizing: border-box; box-sizing: border-box; display: none; width: 33.33333%; padding: 20px; } }
.tile { width: 100%; height: 100%; }
.tile .square-b { width: 100%; content: ""; height: 100%; display: block; float: left; -moz-box-sizing: border-box; box-sizing: border-box; }
.tile .square-b.insta { width: 100%; }
.tile .square-b.insta .square-s:first-of-type { width: 100%; }
.tile .square-b.insta img { -webkit-transition: all 0.2s; transition: all 0.2s; }
.tile .square-b .square-s { width: 50%; text-decoration: none; border: none; outline: none; height: 50%; float: left; position: relative; overflow: hidden; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); }
.tile .square-b .square-s img { width: 100%; display: block; text-decoration: none; border: none; outline: none; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.tile .square-b .square-s:hover.w-capt img { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); }
.tile .square-b .square-s:hover .capt-w { background: rgba(0, 0, 0, 0.2); }
.tile .square-b .square-s:hover .capt { color: rgba(255, 255, 255, 0.6); }
.tile .square-b .square-downl { width: 50%; text-decoration: none; border: none; outline: none; height: 50%; float: left; position: relative; overflow: hidden; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); }
.tile .square-b .square-downl img { width: 100%; display: block; text-decoration: none; border: none; outline: none; opacity: 0; }
.tile .square-b .square-downl .capt { color: white; font-size: 15px; line-height: 1.7; text-align: left; padding: 20%; padding-left: 23%; font-weight: 500; }
.tile .square-b .square-downl .capt-w { background: none; }
.tile .square-b .square-downl:hover { background: url("../images/pdf.svg") center center no-repeat, #d83231; background-size: 20%; }
.tile .square-b .square-downl:hover .capt { display: none; }
.tile .square-b .capt-w { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); -webkit-transition: background 0.2s ease-in; transition: background 0.2s ease-in; }
.tile .square-b .capt { display: block; text-align: center; position: absolute; color: white; top: 50%; left: 0; right: 0; font-size: 18px; font-weight: bold; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: color 0.2s ease-in; transition: color 0.2s ease-in; }
.tile .rectangle { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; float: left; background: #fff200; position: relative; text-decoration: none; border: none; outline: none; }
.tile .rectangle img { width: 100%; display: block; opacity: 0; text-decoration: none; border: none; outline: none; }
.tile .rectangle.w-text { position: relative; }
.tile .rectangle.w-text .text { -moz-box-sizing: border-box; box-sizing: border-box; padding: 38px 40px; position: absolute; top: 50%; left: 0; right: 0; font-size: 16px; color: black; line-height: 1.6; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.tile .rectangle.w-text .text a { color: black; display: inline-block; border-bottom: 1px solid black; text-decoration: none; line-height: 1.1; margin-top: 5%; }
.tile .rectangle.w-text .text a:hover { background: black; color: #fff200; border-bottom-color: transparent; }

.vis-h { visibility: hidden; }

.tile.cont .text a { margin-top: 0; }
.tile.cont .social img { opacity: 0; }
.tile.cont .social .facebook { background: url("../images/fb.svg") center center no-repeat, #3a5898; }
.tile.cont .social .behance { background: url("../images/beh.svg") center center no-repeat, #005bf8; }
.tile.cont .social .twi { background: url("../images/twi.svg") center center no-repeat, #00abee; }
.tile.cont .social .tumblr { background: url("../images/tumbl.svg") center center no-repeat, #314f6d; }
.tile.cont .social .square-s { overflow: hidden; }
.tile.cont .social .square-s:hover { -webkit-animation-name: spin; animation-name: spin; -webkit-animation-duration: 500ms; animation-duration: 500ms; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-timing-function: linear; animation-timing-function: linear; }

@-webkit-keyframes spin { from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); } }

@keyframes spin { from { -webkit-transform: rotateY(0deg); -ms-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(360deg); -ms-transform: rotateY(360deg); transform: rotateY(360deg); } }

.map-w { width: 100%; position: relative; }
.map-w > img { width: 100%; opacity: 0; display: block; }
.map-w #map { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

@media screen and (min-width: 480px) { .tile .square-b .capt { font-size: 20px; } }
@media screen and (min-width: 768px) { .tile .square-b { width: 50%; display: inline-block; }
  .tile .square-b.insta .square-s:first-of-type { width: 50%; }
  .tile .square-b .capt { font-size: 22px; }
  .tile .rectangle.w-text .text { font-size: 20px; } }
@media screen and (min-width: 992px) { .tile .square-b .capt { font-size: 24px; }
  .tile .rectangle.w-text .text { font-size: 30px; padding: 60px 80px; } }
.about-cont .imagetext { -moz-box-sizing: border-box; box-sizing: border-box; }
.about-cont .imagetext:nth-of-type(2n) { padding-left: 10px; }
.about-cont .imagetext:nth-of-type(2n-1) { padding-right: 10px; }
.about-cont .imagetext:not(:nth-of-type(1)):not(:nth-of-type(2)) { margin-top: 20px; }
.about-cont .imagetext b { margin-top: 10px; }

.accent { font-size: 18px; color: white; }
.accent a { color: white; text-decoration: none; }
.accent a:hover { color: #fff200; }

.accent.pushed { padding: 0; }

@media screen and (min-width: 768px) { .accent.pushed { margin-top: 90px; margin-bottom: 90px; padding-left: 20px; padding-right: 20px; } }
@media screen and (min-width: 992px) { .menubar { height: 70px; }
  .about-cont { max-width: 1000px; padding-left: 10px; padding-right: 10px; }
  .menu-pad { margin-top: 70px; }
  .about-cont .imagetext { -moz-box-sizing: border-box; box-sizing: border-box; }
  .about-cont .imagetext:nth-of-type(2n) { padding-left: 20px; }
  .about-cont .imagetext:nth-of-type(2n-1) { padding-right: 20px; }
  .about-cont .imagetext:not(:nth-of-type(1)):not(:nth-of-type(2)) { margin-top: 0px; }
  .about-cont .imagetext:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) { margin-top: 50px; }
  .about-cont .imagetext b { margin-top: 10px; }
  .accent { font-size: 24px; color: white; } }
@media screen and (min-width: 1200px) { .about-cont { max-width: 1180px; padding-left: 0; padding-right: 0; } }
body, html { width: 100%; }

.main-wrap { height: 100%; }

.first video { display: none; }

.h-100 { height: 100%; padding: 0; margin: 0; }

body { padding: 0 0 95px; /* bottom = footer height */ }

.footer { position: absolute; left: 0; bottom: 0; height: 50px; width: 100%; }

@media screen and (min-width: 768px) { .footer { height: 100px; }
  body { padding: 0 0 145px; /* bottom = footer height */ } }
@media screen and (min-width: 992px) { .first { min-height: -webkit-calc(100% - 70px); min-height: calc(100% - 70px); position: relative; background: black; overflow: hidden; }
  .first video { position: absolute; right: 0; left: 0; bottom: 0; top: 0; display: block; min-width: 100%; min-height: 100%; width: auto; height: auto; }
  .menubar.static { position: static; border-top: 0; } }
.tabs-switch li { display: inline-block; }
.tabs-switch li button { background: none; outline: 0; border: none; color: rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgba(255, 255, 255, 0.5); padding: 0; text-transform: uppercase; line-height: 1; font-weight: bold; font-size: 12px; }

.mbtm0 { margin-bottom: 0; }

.tabs .mix { padding-top: 0; padding-bottom: 0; }

.portfol a .imgwrap { position: relative; }
.portfol a .imgwrap:after { position: absolute; content: ""; bottom: 0; left: 0; height: 0px; right: 0; background: rgba(255, 242, 0, 0.5); -webkit-transition: height 0.4s cubic-bezier(0.62, 1.505, 0.35, 0.84); transition: height 0.4s cubic-bezier(0.62, 1.505, 0.35, 0.84); }
.portfol a:hover .imgwrap:after { height: 100%; }

@media screen and (max-width: 991px) { .tabs-c .tabs { margin-top: -25px; } }
@media screen and (max-width: 767px) { .tabs-switch { text-align: justify; }
  .tabs-switch:after { content: ""; width: 100%; display: inline-block; } }
@media screen and (min-width: 768px) { .tabs-switch { text-align: justify; }
  .tabs-switch:after { content: none; width: 0%; display: inline-block; }
  .tabs-switch li:not(:last-of-type) { margin-right: 15px; }
  .tabs-c { display: inline-block; margin-top: -30px; } }
.b-red { background: #C61F27; }

.b-white { background: white; }

.b-black { background: black; }

.proj-logo { text-align: center; padding: 40px 0; }
.proj-logo img { width: 40%; display: inline-block; }

.about-proj { text-align: center; padding: 25px; }
.about-proj h2 { margin-top: 0; }

.proj-photo { margin: 30px 0; text-align: center; }
.proj-photo img { max-width: 100%; box-shadow: 0 0 54px rgba(0, 0, 0, 0.68); }

.proj-link { text-align: center; padding: 40px; border-bottom: 4px solid #fff200; }
.proj-link a { color: white; border-bottom: 1px solid white; text-decoration: none; }

@media screen and (min-width: 992px) { .proj-logo { padding: 75px 0; }
  .about-proj { padding: 75px; font-size: 14px; }
  .about-proj h2 { font-size: 24px; }
  .about-proj p { max-width: 650px; margin: 0 auto; }
  .proj-photo { margin: 75px 0; }
  .proj-link { padding: 75px; }
  .proj-link a { font-size: 24px; } }
.vacan-one { color: rgba(255, 255, 255, 0.5); }
.vacan-one h2 { font-weight: normal; margin-bottom: 30px; }

.text { font-size: 12px; }
.text ul { margin: 0; padding: 0; list-style: none; }
.text ul li:before { content: "•"; margin-right: 10px; }

.text .row > div { -moz-box-sizing: border-box; box-sizing: border-box; }

.muted { color: rgba(255, 255, 255, 0.2); }
.muted a { color: inherit; }

@media screen and (min-width: 768px) { .text { font-size: 14px; }
  .vacan-one .muted { font-size: 24px; }
  .vacan-one h2 { font-size: 24px; } }
.vacan .imagetext { margin-top: 20px !important; }

@media screen and (max-width: 991px) { .vacan .imagetext { padding-left: 20px !important; padding-right: 20px !important; margin-top: 20px !important; } }
