.tabs-switch {
  li {
    display: inline-block;
    button {
      background: none;
      outline: 0;
      border: none;
      color: rgba($white,0.5);
      border-bottom: 1px solid rgba($white,0.5);
      padding: 0;
      text-transform: uppercase;
      line-height: 1;
      font-weight: bold;
      font-size: 12px;
    }
  }
}

.mbtm0 {
  margin-bottom: 0;
}
.tabs .mix {
  padding-top: 0;
  padding-bottom: 0;
}

.portfol{
  a{
    .imgwrap{
      position: relative;
      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 0px;
        right: 0;
        background: rgba($yellow, 0.5);
        transition: height 0.4s cubic-bezier(0.620, 1.505, 0.350, 0.840);
      }
    }
    &:hover {
      .imgwrap{
        &:after {
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .tabs-c {
    // padding: 0 20px;
    .tabs {
      margin-top: -25px;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .tabs-switch {
    text-align: justify;
    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  }
}
@media screen and (min-width: $screen-tablet) {
  .tabs-switch {
    text-align: justify;
    &:after {
      content: none;
      width:0%;
      display: inline-block;
    }
    li:not(:last-of-type) {
      margin-right: 15px;
    }
  }
  .tabs-c {
    display: inline-block;
    margin-top: -30px;
  }
}