.about-cont {
  .imagetext {
    box-sizing: border-box;
    &:nth-of-type(2n) {
      // background: red;
      padding-left: 10px;
    }
    &:nth-of-type(2n-1) {
      // background: green;
      padding-right: 10px;
    }
  }
  .imagetext {
    &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      margin-top: 20px;
    }
    b {
      margin-top: 10px;
    }
  }
}
.accent {
  font-size: 18px;
  color: $white;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $yellow;

    }
  }
}



.accent.pushed {
  padding: 0;  
}

@media screen and (min-width: $screen-tablet) {
  .about-cont {
    // max-width: 800px;  
  }
  .accent.pushed {
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;  
  }

}


@media screen and (min-width: $screen-desktop) {
  .menubar {
    height: 70px;
  }
  .about-cont {
    max-width: 1000px; 
    padding-left: 10px;
    padding-right: 10px; 
  }
  .menu-pad {
    margin-top: 70px;
  }
  .about-cont {
    .imagetext {
      box-sizing: border-box;
      &:nth-of-type(2n) {
        // background: red;
        padding-left: 20px;
      }
      &:nth-of-type(2n-1) {
        // background: green;
        padding-right: 20px;
      }
    }
    .imagetext {
      &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
        margin-top: 0px;
      }
      &:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
        margin-top: 50px;
      }
      b {
        margin-top: 10px;
      }
    }
  }
  .accent {
    font-size: 24px;
    color: $white;
  }
}

@media screen and (min-width: $screen-lg-desktop) {
  .about-cont {
    max-width: 1180px;
    padding-left: 0;
    padding-right: 0;
  }
}