$yellow: #FFF200;
$gray:   #ababab;
$black:  #000000;
$white:  #ffffff;
$dgray:  #1f1f1f;
$caption : "pt-sans-caption",sans-serif;


.bg-dgray {
  background: $dgray;
}

body {
  font-family: $caption;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: $dgray;
  // border-top: 4px solid $yellow;
}

.main-wrap {
  overflow-x: hidden;
}
.ulfix {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
  }
}
.footer {
  // display: inline-block;
  width: 100%;
  border-top: 4px solid $yellow;
  // margin-bottom: 100px;
}
*{
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

