
.about-cont {
  .imagetext {
    box-sizing: border-box;
    &:nth-of-type(2n) {
      // background: red;
      padding-left: 10px;
    }
    &:nth-of-type(2n-1) {
      // background: green;
      padding-right: 10px;
    }
  }
  .imagetext {
    &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      margin-top: 20px;
    }
    b {
      margin-top: 10px;
    }
  }
}
.accent {
  font-size: 18px;
  color: $white;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $yellow;

    }
  }
}



.accent.pushed {
  padding: 0;  
}

@media screen and (min-width: $screen-tablet) {
  .about-cont {
    // max-width: 800px;  
  }
  .accent.pushed {
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;  
  }

}


@media screen and (min-width: $screen-desktop) {
  .menubar {
    height: 70px;
  }
  .about-cont {
    max-width: 1000px; 
    padding-left: 10px;
    padding-right: 10px; 
  }
  .menu-pad {
    margin-top: 70px;
  }
  .about-cont {
    .imagetext {
      box-sizing: border-box;
      &:nth-of-type(2n) {
        // background: red;
        padding-left: 20px;
      }
      &:nth-of-type(2n-1) {
        // background: green;
        padding-right: 20px;
      }
    }
    .imagetext {
      &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
        margin-top: 0px;
      }
      &:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
        margin-top: 50px;
      }
      b {
        margin-top: 10px;
      }
    }
  }
  .accent {
    font-size: 24px;
    color: $white;
  }
}

@media screen and (min-width: $screen-lg-desktop) {
  .about-cont {
    max-width: 1180px;
    padding-left: 0;
    padding-right: 0;
  }
}
// video#bgvid {
//   position: absolute; right: 0; bottom: 0;
//   min-height: 100%;
//   width: auto; height: auto; z-index: -100;
//   background: url(polina.jpg) no-repeat;
//   background-size: cover;
// }
// video { display: block; }
body,html {
  // height: 100%;
  width: 100%;
  // padding: 0;
  // margin: 0;

}
.fullscreen {
  
}
.videofix {
  // margin-top: 100%;
}
.main-wrap {
  // position: absolute;
  // width: r100%;
  height: 100%;
}

.first {
  video {
    display: none;
  }
}
.h-100 {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
    padding: 0 0 95px; /* bottom = footer height */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;

    width: 100%;
}

@media screen and (min-width: $screen-tablet) {
  .footer{
    height: 100px;
  }

  body {
    padding: 0 0 145px; /* bottom = footer height */
}

}


@media screen and (min-width: $screen-desktop) {
  .first {
    min-height: calc(100% - 70px);
    position: relative;
    background: black;
    overflow: hidden;


    // background: rgba(255,0,0,0.2);
    video {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      display: block;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      // position: relative;
      // z-index: -3;
      // opacity: 0.3;
    }
  }
  .menubar.static {
    position: static;
    border-top: 0;
  }
}

.tabs-switch {
  li {
    display: inline-block;
    button {
      background: none;
      outline: 0;
      border: none;
      color: rgba($white,0.5);
      border-bottom: 1px solid rgba($white,0.5);
      padding: 0;
      text-transform: uppercase;
      line-height: 1;
      font-weight: bold;
      font-size: 12px;
    }
  }
}

.mbtm0 {
  margin-bottom: 0;
}
.tabs .mix {
  padding-top: 0;
  padding-bottom: 0;
}

.portfol{
  a{
    .imgwrap{
      position: relative;
      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 0px;
        right: 0;
        background: rgba($yellow, 0.5);
        transition: height 0.4s cubic-bezier(0.620, 1.505, 0.350, 0.840);
      }
    }
    &:hover {
      .imgwrap{
        &:after {
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .tabs-c {
    // padding: 0 20px;
    .tabs {
      margin-top: -25px;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .tabs-switch {
    text-align: justify;
    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  }
}
@media screen and (min-width: $screen-tablet) {
  .tabs-switch {
    text-align: justify;
    &:after {
      content: none;
      width:0%;
      display: inline-block;
    }
    li:not(:last-of-type) {
      margin-right: 15px;
    }
  }
  .tabs-c {
    display: inline-block;
    margin-top: -30px;
  }
}
.b-red {
  background: #C61F27;
}
.b-white {
  background: white;
}
.b-black {
  background: black;
}
.proj-logo {
  text-align: center;
  padding: 40px 0 ;
  img{
    width: 40%;
    display: inline-block;
    // padding: 40px;
  }
}
.about-proj {
  text-align: center;
  padding: 25px;

  h2{
    margin-top: 0;
    // font-size: 12px;
  }
}
.proj-photo {
  margin: 30px 0;
  text-align: center;
  img{
    max-width: 100%;
    box-shadow: 0 0 54px rgba(0,0,0,.68);
  }
}
.proj-link {
   
  text-align: center;
  padding: 40px;
  a {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none; 
  }
  border-bottom: 4px solid $yellow;
  // margin-bottom: -75px;
}

@media screen and (min-width: $screen-desktop) {
  .proj-logo {
    padding: 75px 0;
    img{
    }
  }
  .about-proj {
    padding: 75px;

    h2{
      font-size: 24px;
    }
    p {
      max-width: 650px;
      margin: 0 auto;
    }
    font-size: 14px;
  }
  .proj-photo {
    margin: 75px 0;
    img{
      
    }
  }
  .proj-link {
    padding: 75px;
    a {
      font-size: 24px;
    }
  }
}
.vacan-one{
  h2 {
    font-weight: normal;
    margin-bottom: 30px;
  }
  color: rgba(255,255,255,0.5);
}
.text {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li:before{
      content: "•";
      margin-right: 10px;
    }
  }
  font-size: 12px;
}
.text .row>div {
  box-sizing: border-box;
}
.muted {
  color: rgba(255,255,255,0.2);
  a{
    color: inherit;
  }
}

@media screen and (min-width: $screen-tablet) {
  .text {
    font-size: 14px;
  }
  .vacan-one .muted {
    font-size: 24px;
  }
  .vacan-one h2 {
    font-size: 24px;
  }
}
.vacan {
  .imagetext {
   
    margin-top: 20px !important;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .vacan {
    .imagetext {
       padding-left: 20px !important;
        padding-right: 20px !important;
      margin-top: 20px !important;
    }
  }
}