.imagetext {
  text-decoration: none;
  img {
    display: block;
    width: 100%;
  }
  b{
    color: $white;
    margin-top: 15px;
    display: block;
    font-weight: 600;
    font-size: 15px;
  }
  span {
    color: $gray;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 0;
  }
  &.proj {
    img {
      position: relative;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        height: 10px;
        background: red;
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .imagetext {
    img {
      display: block;
      width: 100%;
    }
    b{
      margin-top: 20px;
      font-size: 24px;
    }
    span {
      font-size: 14px;
    }
  }
}