{% macro imagetext(_class, _id, href) %}{# 
 #}{% if href %}{# 
  #}<a class="imagetext {{_class}}" id="{{_id}}" href="{{href}}">
  <div class="imgwrap"><img src="http://placehold.it/560x388"></div>
  <b>Happy Paw</b>
  <span>Site, development, banners</span>
</a>{# 
 #}{% endif %}{% if href=="" %}{# 
  #}<div class="imagetext {{_class}}" id="{{_id}}">
  <img src="http://placehold.it/560x388">
  <b>Happy Paw</b>
  <span>Site, development, banners</span>
</div>{# 
 #}{% endif %}{% endmacro %}

{% macro imagetext1(_class, _id, href) %}{# 
 #}{% if href %}{# 
  #}<a class="imagetext {{_class}}" id="{{_id}}" href="{{href}}">
  <img src="http://placehold.it/560x388">
  <b>Happy Paw</b>
</a>{# 
 #}{% endif %}{% if href=="" %}{# 
  #}<div class="imagetext {{_class}}" id="{{_id}}">
  <img src="http://placehold.it/560x388">
  <b>Happy Paw</b>
</div>{# 
 #}{% endif %}{% endmacro %}



