.b-red {
  background: #C61F27;
}
.b-white {
  background: white;
}
.b-black {
  background: black;
}
.proj-logo {
  text-align: center;
  padding: 40px 0 ;
  img{
    width: 40%;
    display: inline-block;
    // padding: 40px;
  }
}
.about-proj {
  text-align: center;
  padding: 25px;

  h2{
    margin-top: 0;
    // font-size: 12px;
  }
}
.proj-photo {
  margin: 30px 0;
  text-align: center;
  img{
    max-width: 100%;
    box-shadow: 0 0 54px rgba(0,0,0,.68);
  }
}
.proj-link {
   
  text-align: center;
  padding: 40px;
  a {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none; 
  }
  border-bottom: 4px solid $yellow;
  // margin-bottom: -75px;
}

@media screen and (min-width: $screen-desktop) {
  .proj-logo {
    padding: 75px 0;
    img{
    }
  }
  .about-proj {
    padding: 75px;

    h2{
      font-size: 24px;
    }
    p {
      max-width: 650px;
      margin: 0 auto;
    }
    font-size: 14px;
  }
  .proj-photo {
    margin: 75px 0;
    img{
      
    }
  }
  .proj-link {
    padding: 75px;
    a {
      font-size: 24px;
    }
  }
}