.vacan-one{
  h2 {
    font-weight: normal;
    margin-bottom: 30px;
  }
  color: rgba(255,255,255,0.5);
}
.text {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li:before{
      content: "•";
      margin-right: 10px;
    }
  }
  font-size: 12px;
}
.text .row>div {
  box-sizing: border-box;
}
.muted {
  color: rgba(255,255,255,0.2);
  a{
    color: inherit;
  }
}

@media screen and (min-width: $screen-tablet) {
  .text {
    font-size: 14px;
  }
  .vacan-one .muted {
    font-size: 24px;
  }
  .vacan-one h2 {
    font-size: 24px;
  }
}