{% macro menu(_class, _id, href) %}
  <div class="menubar {{_class}}" id="menubar">
    <div class="visible-xs visible-sm  mobile container-fluid ">
      <div class="row">
        <div class="top-c col-xs-12 col-sm-12 col-md-12">
          <a href="main.view.html" class="logo"><img src="images/brackets.svg" alt=""></a>
          <a href="#" class="toggle" id="menu-toggle"><img src="images/toggle.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="hidden-xs hidden-sm desktop container relative">
      <div class="row">
        <div class="col-md-2 ">
          <a href="main.view.html" class="logo"><img src="images/brackets.svg" alt=""></a>
        </div>
        <div class="col-md-8 tcenter ">
          <ul class="ulfix menu">
            {# <li><a href="#">главная</a></li> #}
            <li><a href="portfol.view.html">портфолио</a></li>
            <li><a href="about.view.html">О нас</a></li>
            <li><a href="vacan.view.html">Вакансии</a></li>
            <li><a href="main.view.html#contacts">Контакты</a></li>
          </ul>
        </div>
        <div class="col-md-2 tright">
          <ul class="ulfix menu lang">
            {# <li><a href="#">главная</a></li> #}
            <li class="active"><a href="#">RU</a></li>
            <li><a href="#">EN</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-container visible-xs visible-sm">
    <ul class="ulfix">
      <li><a href="main.view.html">главная</a></li>
      <li><a href="portfol.view.html">портфолио</a></li>
      <li><a href="about.view.html">О нас</a></li>
      <li><a href="vacan.view.html">Вакансии</a></li>
      <li><a href="main.view.html#contacts">Контакты</a></li>
    </ul>
  </div>
{% endmacro %}


