.menubar{
  width: 100%;
  height: 45px;
  background: $black;
  display: block;
  z-index: 1;
  position: fixed;
  .container {
    position: relative;
  }
  .top-c {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    transition: none;
    a {
      // position: relative;
      z-index: 9999;
    }
  }
  .mobile {
    // transition: all 0.3s ease-in;
    // position: absolute;
    .logo {
      margin-top: 14.5px;
      display: inline-block;
      // position: absolute;
      // left: 0;
      img {
        width: 16px;
        display: block;
      }
    }
    .toggle {
      // position: absolute;
      // right: 0;
      float: right;
      margin-right: 17.5px;
      margin-top: 14.5px;
      img {
        width: 35/2*1px;
        display: inline-block;
        position: absolute;
        // right: 30px;
      }
    }
  }
}
.menu-pad {
  margin-top: 45px;
}


.nav-container {
  
  padding-top: 45+60px;
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  overflow: hidden;
  // left: 0;
  z-index: 9998;
  right: -100%;
  bottom: 0;
  transition: right 0.3s cubic-bezier(0.620, 1.505, 0.350, 0.840);
  width: 100%;
  height: 100%;
  padding: 0 15px;
  // box-sizing: border-box;
  transform: translateZ(0);
  li:first-of-type {
    border-top: 1px solid rgba($gray,0.2);
  }
  background: $dgray;
  ul { margin-top: 60px;}
  li {
    width: 100%;
    display: block;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    border-bottom: 1px solid rgba($yellow,0.7);
    // border-top: 1px solid rgba($gray,0.7);
    position: relative;
    transition: right 0.3s ease-in-out, border-color 0.4s ease-out 0.1s;
    right: -110%;
    transform: translateZ(0);
    top:-1px;
    &.animation{
      right: 0%;
      border-color: rgba($gray,0.2);
    }
    &:hover {
      border-bottom-color: rgba($yellow,0.3);
    }
    
    a {
      width: 100%;
      height: 100%;
      color: inherit;
      text-decoration: none;
      padding: 10px 0;
      display: inline-block;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 1px;
      &:hover {
        color: $yellow;
      }
    }
  }
} 
.menubar.active {
  background: transparent;
  // transition: background 0s ease-out 0.3s;
  z-index: 9999;
}
.menubar.active + .nav-container {
  right: 0%;
  z-index: 9998;

}
.relative {
  position: relative;
}

.tcenter {
  text-align: center;
}
.tright {
  text-align: right;
}


@media screen and (min-width: $screen-desktop) {
  .menubar {
    height: 70px;
  }
  .menu-pad {
    margin-top: 70px;
  }
  .menubar {
    border-top: 4px solid $yellow;
    .desktop {
      box-sizing: border-box;
      padding:17px 0px;
      min-height: 36px;
      .logo {
        img {
          width: 32px;display: block;
        }
        display: inline-block;
      }
      .menu {
        color: white;
        // position: absolute;
        margin-top: 5px;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        li {
          display: inline-block;
          a {
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            &:hover{
              opacity: 1 !important;
              color: $yellow;
            }
          }
          &:hover{
            opacity: 1 !important;
          }
          &:not(:first-of-type) {
            margin-left: 30px;
          }
        }
      }
    }
    .menu.lang {
      li:not(.active) {
        opacity: 0.5;
      }
      li:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }
}